.temp {
    background-color: green;
    font-family: 'dana';
}

@font-face {
    font-family: 'dana';
    src: url(../fonts/DanaFaNum-DemiBold.woff2) format('woff2');
    font-weight: normal ;
    font-style: normal;
}

.hero{
    justify-content: space-between;
    flex-direction: row;
    direction: rtl;
}
.level-left{
    flex-direction: column;

}
:root{
    --primary-color: hwb(152 9% 32% / 0.689);
    --font-size-large: 1.5rem;
    --padding: 15px;
}

.button.is-rounded {
    background-color: var(--primary-color);
    padding: var(--padding);
    font-size: var(--font-size-large);
}
