.temp {
    background-color: green;
    font-family: 'dana';
}

@font-face {
    font-family: 'dana';
    src: url(../Fonts/DanaFaNum-DemiBold.woff2) format('woff2');
    font-weight: normal ;
    font-style: normal;
}